html{
  background-color: #141b42;
  border-radius: 70px;
}

body {
    background-color: #eceef3;
    width: 1300px;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
  }

  img {
        margin: 10px;
        border-radius: 60px;
        padding: auto;
        position: relative;
  }
  
   h1 {
    
    background-color: #5050d4;
    border-radius: 30px;
  }

  footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    border-radius: 50px;
  }
  